default_language_version:
  python: python

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: check-yaml
      args: [--unsafe]
      exclude: ^mkdocs\.yml$
    - id: end-of-file-fixer
    - id: trailing-whitespace
      exclude: ^docs/

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.4
  hooks:
    - id: ruff
      args: [ --fix, --extend-select=I001 ]
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
    - id: mypy

- repo: local
  hooks:
    - id: uv-lock-check
      name: Check uv.lock is up to date
      entry: uv lock --check
      language: system
      files: pyproject.toml
      pass_filenames: false
